
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gray; 
    gap: 20px;
}

.heading{
    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: italic;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333; 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
}

#screen {
    width: 100%;
    height: 80px;
    background-color: #222; 
    color: #0f0; 
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    border: 2px solid #555;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow-x: auto; 
}


.row {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}


button {
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

button:hover{
    background-color: #d3d3d3;
}

button:active {
    background-color: #bbb;
}


.digit {
    background-color: #555;
    color: white;
}

.digit:hover {
    background-color: #666;
}

.operator {
    background-color: orange;
    color: white;
}

.operator:hover {
    background-color: #e69500;
}

#all-clear, #clear {
    background-color: #cc0000;
    color: white;
}

#all-clear:hover, #clear:hover {
    background-color: #ff0000;
}

#dot {
    background-color: #444;
    color: white;
}

#dot:hover {
    background-color: #555;
}


#equal-to {
    background-color: #0a74da;
    color: white;
}

#equal-to:hover {
    background-color: #005bb5;
}