*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

img{
    border-radius: 10px;
}

.first{
    background-color: #1F2937;
    color: beige;
    height: 350px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 16px; 
    
}

.logo{
    font-weight: bolder;
    font-size: 24px;
    margin-left: 24px;
    flex-shrink: 1;
    overflow: hidden;
}

.links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 24px;
    display: flex;
    gap: 16px;
    flex-shrink: 1;
    
    
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    
    
}

.content{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    padding: 16px;
    
    
}

.left-content{
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-shrink: 0;
}

.right-content{
    margin-right: 24px;
    flex-shrink: 0;
    
}

.heading{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    
}

p{
    font-size: 18px;
    color: #E5E7EB;
    

}
button{
    background-color: skyblue;
    padding: 8px 16px; 
}



.middle{
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-left: 64px;
    margin-bottom: 24px;   
    
}

.title{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 24px;
    
    
}

button{
    max-width: 200px;
    
    
}

.second{
    text-align: center;
}

.text{
    font-size: 15px;
    color: darkblue;
}

.third{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
    height: 200px;
    flex-direction: column;
    

}

.quote-message{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-left: 32px;
    margin-right: 32px;

}

.quote-by{
    align-self: flex-end;
    font-weight: 900;
    font-size: 24px;
}

.fourth{
    background-color: white;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.blank{
    background-color: blue;
    color: bisque;
    display:flex;    
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 700px;
    padding: 24px;
    gap: 24px;
    border-radius: 10px;
}


.some-text{
    font-weight: 900;
    font-size: larger;
}


.rounded-button{
    border-radius: 10px;
}

.para{
    font-size: 16px;
}

.fifth{
    background-color: #1F2937;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright{
    color: white;
}





