@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
     background-color: #e5eaf2;
}

.sidebar {
    grid-row: 1 / 3;
    color: #fff;
    background-color: #1983d4;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 1rem;
    gap: 2rem;
}

.sidebar-header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5rem;
}

.sidebar-header .material-icons {
    color: #fff;
    font-size: 32px;
}

.sidebar-nav-main ul,
.sidebar-nav-secondary ul {
    display: grid;
    gap: 1rem;
    list-style: none;
}

.nav-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.nav-item:hover {
    background-color: #1578b6;
    border-radius: 8px;
    padding: 0.3rem 0.5rem;
}

.nav-item .material-icons {
    color: white;   
    font-size: 16px;
}


.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: auto auto;
    gap: 1.5rem;
    padding: 1rem 1.5rem;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.top-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.search-bar {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center; 
    width: 100%;
    max-width: 500px;
    gap: 0.5rem;
    background: rgba(21, 103, 210, 0.1);
    border-radius: 20px;
    padding: 0.4rem 1rem;
}

.search-icon {
    width: 24px;
    height: 24px;
}

.input-box {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}

.profile {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 2rem;
}

.bell-ring, .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.name {
    font-size: 1.2rem;
    font-weight: bold;
}

.bottom-header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

.greeting-area {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
}

.profile-avatar {
    border-radius: 50%;
    width: 54px;
    height: 54px
}

.name-id {
    font-size: 1.5rem;
}

.action-buttons {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
    align-items: center;
}

.action {
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 1rem;
    color: white;
    background-color: rgb(0, 183, 255);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action:hover {
    background-color: rgb(0, 145, 210);
    transform: scale(1.05);
}

.content {
    grid-column: 2 / 3;
    padding: 2rem;
    background-color: #e5eaf2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
}

.project-section h2 {
    margin-bottom: 1rem;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); 
    gap: 1.5rem;
}

.project-card {
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: #fff;
    border-left: 8px solid gold;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    gap: 1rem;
}

.card-content {
    line-height: 1.4;
    font-size: 0.9rem;
    color: #333;
}

.actions {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1.5rem;
  align-items: center;
  justify-content: end;
}

.action .material-icons {
    font-size: 24px;
    cursor: pointer;
    align-self: start;
}

.material-icons {
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

.info-panel {
    align-self: start;
    display: grid;
    gap: 1.5rem;
}

.announcements, .trending {
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.announcements h3, .trending h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.announcement {
    border-bottom: 1px solid #ddd;
    padding: 1rem 0rem;
}

.announcement:last-child {
    border-bottom: none;
}

.announcement h5 {
    font-weight: 600;
    margin-bottom: 0.3rem;
    font-size: 0.95rem;
}

.announcement p {
    font-size: 0.75rem;
    color: #333;
    line-height: 1.4;
}

.trending-items {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.75rem;
    align-items: center;
    margin-bottom: 1rem;
}

.trending-item:last-child {
    margin-bottom: 0;
} 


.trending-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.trending-info {
    display: flex;
    flex-direction: column;
}

.username {
  font-weight: 600;
  font-size: 0.9rem;
}

.project-name {
  font-size: 0.8rem;
  color: #666;
}