* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 1rem;
    background: linear-gradient(to right, #a8edea, #fed6e3);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    gap: 0.8rem;
}

.material-icons {
    font-size: 3rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.material-icons:hover {
    transform: scale(1.1);
    color: #FFD700;
}

.main-content {
    flex: 1;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.add {
    align-self: center;
    padding: 1.75rem;
}

.add-book-btn {
    padding: 1rem;
    font-weight: bold;
    background-color: #D1FAE5;
    font-size: 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    box-shadow: 1px 4px 2px;
}

.add-book-btn:hover {
    background-color:  #A7F3D0; 
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 2rem;
}

.books-info {
    background: radial-gradient(circle at top right, #e0f7fa, #ffffff);
    padding: 1.5rem;
    border-radius: 20px;
    line-height: 2;
    font-size: 1.5rem;
    box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.1); 
}

.books-info:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.action {
    padding: 1rem;
    background-color: #fed6e3;
    font-size: 0.8em;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
}

.action:hover {
    background-color: hsl(341, 72%, 59%);
}


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    color: #fff;
    padding: 0.3rem;
    flex-wrap: wrap;
}

.copyright {
    font-size: 1.2rem;
}

.form_container {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: radial-gradient(circle at top left, #fde2e4 0%, #fde2e4 30%, #fff1f2 100%);

}

.caption_container {
    font-weight: bold;
    font-size: 1.5rem;
}

.book_details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.detail {
    display: flex;
    flex-direction: column;
}

.detail input {
    font-size: 1rem;
    width: 400px;
    padding: 0.5rem;
    border-radius: 5px;
    border: 3px solid #E5E7EB;
}

.detail input:focus {
    outline: none;
    border: 3px solid #d6094a;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.toggle_container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Toggle switch base */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

/* Hide the default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider background */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d6cdb7;
  transition: 0.4s;
  border-radius: 34px;
}

/* Slider circle */
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* When checked, change position and color */
.switch input:checked + .slider {
  background-color: rgb(214, 53, 80);
}

.switch input:checked + .slider:before {
  transform: translateX(24px);
}

.buttons_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.confirm_btn, .reset_btn {
    border: none;
    font-size: 1rem;
    width: 400px;
    padding: 1rem;
    border-radius: 10px;
}

.confirm_btn {
    background-color: rgb(214, 53, 80);
    color: white;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.reset_btn {
    background-color: #fde2e4;
    color: rgb(214, 53, 80);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(214, 53, 80);
}

.confirm_btn:hover {
    background-color:  #fde2e4;
    color: rgb(214, 53, 80);
    border: 2px solid rgb(214, 53, 80);
}

.reset_btn:hover {
    background-color: rgb(214, 53, 80);
    color: white;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}



